code {
  color: red;
  background-color: #ffcccb;
  border-radius: 5px;
  padding: 0 5px;
}

#form-bg {
  background-image: url("assets/form.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#req {
  color: red;
}

.spinner {
  transition-property: transform;
  transition-duration: 2s;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in-out;
}

.spinner:hover {
  transform: rotate(360deg);
}
